@import "../Day1/scss/variables/index.scss";

.header {
    width: 100px;
    height: 100px;
    background-color:$darkBg;

    // & === .homepage
    &__wrapper {
        width: 100%;
    }

    &__logo {
        font-size: 20px;
    }

    &__links {
        width: 100%;
    }

    &__link {
        &--home {
            width: 100%;

        }
        &--blog {
            width: 100%;
        }
        &--about {
            width: 100%;
        }
        &--contact {
            width: 100%;
        }
    }
}